.card {
  width: 100%;
  max-width: 440px;
  border: 1px solid var(--color-card-border);
  overflow: hidden;
}

.form {
  display: flex;
  flex-direction: column;
}

.switch {
  margin-top: 16px;
  text-align: center;
}
